.headerCont {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: blue;
}

.form{
    position: relative;
}

.input {
    width: 480px;
    padding: 6px 8px 6px 40px;
    border: 2px solid darkgray;
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    border: none;
    padding: 9px 9px 3px 9px;
    background-color: unset;
    cursor: pointer;
    position: absolute;
    left: 390px;
}

.icon {
    stroke-width: 60;
    stroke: darkgray;
}

.icon:hover {
    stroke: blue;
    transition: 300ms;
} 

